* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

main {
  padding: 1rem 0.1rem;
  min-height: calc(100vh - 60px);
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 5vh;
}

.calc-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "mathmagic calc calc";
  grid-template-columns: repeat(3, 1fr);
}

.math-magic {
  grid-area: mathmagic;
}

.calc {
  grid-area: calc;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }

  .calc-info {
    grid-template-areas: "mathmagic" "calc" "calc";
    grid-template-columns: 1fr;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #5e5e5e;
  color: #fff;
  height: 60px;
}

button {
  width: 100%;
  color: black;
  background-color: #f3ae2d;
  font-size: 25px;
  border-radius: 0%;
  outline: none;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

button:hover {
  background-color: #ffa500;
}

.btn {
  display: flex;
  width: 25%;
}

.wide {
  display: flex;
  width: 50%;
}

.color {
  background-color: #f1f1f1;
}

.color:hover {
  background-color: #e7e6e6;
}

/* ButtonPanel Styling */

.row {
  display: flex;
  height: 100px;
}

/* Display Styling */

.display {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;
  background-color: #808080;
  height: 100px;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
}

/* Navbar */

#logo {
  color: #f1f1f1;
  padding: 0.5em 1em;
}

.main-nav {
  display: flex;
  background: orangered;
  color: white;
  border-radius: 3px;
  padding: 1em;
  font-family: sans-serif;
}

.main-nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 3;
}

.main-nav li {
  margin-right: 1em;
}

.main-nav a {
  text-decoration: none;
  color: #ff4500;
}

.main-nav > .nav-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.nav-links li {
  background: white;
  border: 0;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin-left: 0.3em;
}

@media screen and (max-width: 575px) {
  .main-nav {
    flex-direction: column;
  }

  .main-nav ul {
    flex-direction: row; /* Change this to 'column' to stack the links */
    margin-bottom: 1em;
  }
}
